header {
  background-color: rgb(13, 13, 13);
  border-bottom: 1px solid #030303c2;
  width: calc(100% - 60px);
  color: #40b5cb;
  padding: 25px 30px;
  box-shadow: rgb(0 0 0 / 75%) 1px 4px 7px 0px;
  position: sticky;
  top: 0;
  z-index: 10;
}

header > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header > div h2 {
  margin: 0;
}

header > div nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header > div nav ul li {
  list-style: none;
}

header > div nav ul li a {
  padding: 5px 20px;
  text-decoration: none;
  color: #40b5cb;
  opacity: 0.8;
  font-size: 16px;
  font-weight: 500;
}

header > div nav ul li a:hover {
  color: rgba(57, 146, 255, 1);
}
